/*------------------------------------*\
  #SECTION-RESET HMTL ELEMENTS
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #f4f4f4;
}

/*------------------------------------*\
  #SECTION-CONTAINER
\*------------------------------------*/
.wrap {
  position: relative;
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  padding: 0 30px;
}

/*------------------------------------*\
  #SECTION-LOAD CONTAINER GROUP
\*------------------------------------*/
.section {
  position: relative;
  padding: 50px;
}

.section--primary {
  background: #16a085;
}

.section--secondary {
  background: #e74c3c;
}

.section--third {
  background: #34495e;
}

.section--thfour {
  background: #2c3e50;
}

.section--thfive {
  background: #c0392b;
}

/*------------------------------------*\
  #SECTION-LOADERS GROUP
\*------------------------------------*/
.loaders-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.--last {
  margin: 0 !important;
}

/*------------------------------------*\
  #SECTION-DEFAULT LOADERS STYLE
\*------------------------------------*/
.loader {
  position: relative;
  width: 60px;
  height: 60px;
  margin: 20px;
}

/*------------------------------------*\
  #SECTION-SPINNER LOADERS
\*------------------------------------*/
.loader-spinner {
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.3);
}

.loader-spinner:after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid transparent;
  border-top-color: white;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

/*
* Spinner with transparent circle
*/
.loader-spinner--transparent {
  border-color: transparent;
}

/*------------------------------------*\
  #SECTION-BARS LOADERS
\*------------------------------------*/
/**
 * The loader bars main container contains 5 bars
 * The main conatiner width depends on :
 *
 * 1) The bars width
 * 2) The white spaces between them
 */
.loader-bars {
  width: 90px;
  font-size: 0;
}

/**
* Default bars loader style
*/
.loader-bars__bar {
  position: absolute;
  width: 10px;
  height: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  -webkit-animation: bar-grow-up 1s linear infinite;
  animation: bar-grow-up 1s linear infinite;
}

.loader-bars__bar:nth-child(2) {
  left: 20px;
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

.loader-bars__bar:nth-child(3) {
  left: 40px;
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.loader-bars__bar:nth-child(4) {
  left: 60px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.loader-bars__bar:nth-child(5) {
  left: 80px;
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

/**
* Transparency bar loader style
* It bases on the: Default bars loader style
*/
.loader-bars--opaq .loader-bars__bar {
  height: 60px;
  opacity: 1;
  -webkit-animation: bar-opaq 1s linear infinite;
  animation: bar-opaq 1s linear infinite;
}

.loader-bars--opaq .loader-bars__bar:nth-child(2) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.loader-bars--opaq .loader-bars__bar:nth-child(2) {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

.loader-bars--opaq .loader-bars__bar:nth-child(3) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.loader-bars--opaq .loader-bars__bar:nth-child(4) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.loader-bars--opaq .loader-bars__bar:nth-child(5) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

/*------------------------------------*\
  #SECTION-DOTS LOADERS
\*------------------------------------*/
/**
 * The loader DOT main container contains 5 dots
 * The main conatiner width depends on :
 *
 * 1) The dots width
 * 2) The white spaces between them
 */
.loader-dot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 120px;
}

/*
* Default dots loader
*/
.loader-dot__bar {
  display: block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  background-color: #16a085;
  -webkit-animation: dot-pomp-up .6s ease-in-out alternate infinite;
  animation: dot-pomp-up .6s ease-in-out alternate infinite;
}

.loader-dot__bar:nth-child(2) {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

.loader-dot__bar:nth-child(3) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.loader-dot__bar:nth-child(4) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.loader-dot__bar:nth-child(5) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

/*
* Loader with dart trnasform to square
* and circle:
*
* It bases on the defaulot dots loader
*/
.loader-dot--round .loader-dot__bar {
  -webkit-animation: dot-rounded 1.5s ease-in-out infinite;
  animation: dot-rounded 1.5s ease-in-out infinite;
}

.loader-dot--round .loader-dot__bar:nth-child(2) {
  -webkit-animation-delay: .1s;
  animation-delay: .1s;
}

.loader-dot--round .loader-dot__bar:nth-child(3) {
  -webkit-animation-delay: .2s;
  animation-delay: .2s;
}

.loader-dot--round .loader-dot__bar:nth-child(4) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}

.loader-dot--round .loader-dot__bar:nth-child(5) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
}

/*------------------------------------*\
  #SECTION-LOADER SQUARE
\*------------------------------------*/
/*
* Default square style
*/
.loader-square {
  width: 40px;
  height: 40px;
  border: 1px solid #16a085;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation: rot-square 1s cubic-bezier(1, -0.38, 1, 1) alternate infinite;
  animation: rot-square 1s cubic-bezier(1, -0.38, 1, 1) alternate infinite;
}

/*
* Imbricated square
*/
.loader-square--imbricated {
  -webkit-animation: rot-imbricated 1s cubic-bezier(0, 0, 1, -0.37) infinite;
  animation: rot-imbricated 1s cubic-bezier(0, 0, 1, -0.37) infinite;
}

.loader-square--imbricated::after {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -4px;
  bottom: -4px;
  border: 1px solid #e74c3c;
  -webkit-animation: rot-imbricated-reverse 2s cubic-bezier(0, 0, 1, -0.37) infinite;
  animation: rot-imbricated-reverse 2s cubic-bezier(0, 0, 1, -0.37) infinite;
}

/*------------------------------------*\
  #SECTION-SPIN ANIMATION
\*------------------------------------*/
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*------------------------------------*\
  #SECTION-BARS ANIMATION
\*------------------------------------*/
@-webkit-keyframes bar-grow-up {
  from {
    height: 60px;
  }
}
@keyframes bar-grow-up {
  from {
    height: 60px;
  }
}

@-webkit-keyframes bar-opaq {
  from {
    opacity: 0;
    -webkit-transform: scaleY(1.5);
    transform: scaleY(1.5);
  }
}

@keyframes bar-opaq {
  from {
    opacity: 0;
    -webkit-transform: scaleY(1.5);
    transform: scaleY(1.5);
  }
}

/*------------------------------------*\
  #SECTION-DOTS ANIMATION
\*------------------------------------*/
@-webkit-keyframes dot-pomp-up {
  to {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes dot-pomp-up {
  to {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}

@-webkit-keyframes dot-rounded {
  to {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #16a085;
  }
}

@keyframes dot-rounded {
  to {
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid #16a085;
  }
}

/*------------------------------------*\
  #SECTION-SQUARE ANIMATION
\*------------------------------------*/
@-webkit-keyframes rot-square {
  to {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #e74c3c;
    border: none;
  }
}
@keyframes rot-square {
  to {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    background-color: #e74c3c;
    border: none;
  }
}

@-webkit-keyframes rot-imbricated {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

@keyframes rot-imbricated {
  0% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
  100% {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }
}

@-webkit-keyframes rot-imbricated-reverse {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@keyframes rot-imbricated-reverse {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  50% {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  100% {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}
